*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    color: white;
    background-color: #1C1C1C;
}
#table_of_contents{
    font-size: 20px;
}
#title{
    font-size: 75px;
    font-weight: bold;
}
.carousel-item{
    overflow: hidden;
    max-height: 760px;
}
body{
    max-height: 100px;
}
#card{
    height: 585px;
    width:500px;
    padding-right: 30px;
    padding-top: 90px;
}
#inventory{
    padding-right: 50px;
}
.col-5{
    overflow: hidden;
}
h4{
    color: white;
}
P{
    text-align: left;
    text-indent: 30px;
    padding-left: 30px;
}
.button-modrian {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-modrian:active,
  .button-modrian:hover {
    outline: 0;
  }
  
  .button-modrian span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-modrian:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }